<!DOCTYPE html>
{% extends "plantilla.html" %}
{% block contenido %}
    <div id="fondo">
        <center>
            <h1 class="titulo">Buscar Imágenes</h1>
            <div id="display"><br>
                <img src="{{ url_for('static', filename='images/busqueda.png') }}" alt="Usuario" height="90" witdh="90">
                <form action="" method="POST" onsubmit="" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                    {{ form.nomImgBuscar.label }}<br>
                    {{ form.nomImgBuscar(size=30)}}<br>
                    </p>
                    <p>{{ form.buscar() }}</p>
                    <p><a href="/gestor/"><input type="" class="boton" name="regresar" value="Regresar"/></a></p>
                </form><br>
            </div><br>
            <div class="contenedor-producto">
                <div class="imagen-principal">
                    <!-- imagen encontrada -->
                </div>
            </div>
        </center>
    </div>
{% endblock %}
