{% extends "plantilla.html" %}
{% block contenido %}
    <div id="fondo">
        <center>
            <h1 class="titulo">Red Social de Imágenes</h1>
            <a href="sesion"><input type="submit" class="boton" name="ventanaIniciar" value="Iniciar Sesión"/></a>
            <a href="registro"><input type="submit" class="boton" name="ventanaRegistar" value="Registrar Usuario"/></a>
        
            <br><br><br>
            <img src="{{ url_for('static', filename='images/images1.jpg') }}" alt="image1" height="100" witdh="140">
            <img src="{{ url_for('static', filename='images/images2.jpg') }}" alt="image2" height="100" witdh="140">
            <img src="{{ url_for('static', filename='images/images3.jpg') }}" alt="image3" height="100" witdh="140">
            <img src="{{ url_for('static', filename='images/images4.jpg') }}" alt="image4" height="100" witdh="140">

        </center>
    </div>
{% endblock %}