{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Crear Imágenes</h1>
        <div id="display">
            <form action="" method="GET" onsubmit="return crearImagen();">
                <table border="0">
                    <tr><br>
                        <img src="{{ url_for('static', filename='images/crear.png') }}" alt="Usuario" height="90" witdh="90">
                    </tr>
                    
                    <tr><br>
                        <td><br>Nombre Imagen: </td>
                        <td><br><input type="text" name="nameImage" id="nameImage" placeholder="Nombre de la Imagen"/><br></td>
                    </tr>
                    
                    <tr>
                        <td>Pública:
                        <input type="radio" name="seleccion1" id="Publica" /><br></td>
                        <td>Privada:
                        <input type="radio" name="seleccion1" id="Privada" /><br></td>
                    </tr>
                </table><br>
                <input type="file" name="archivo" id="seleccionar"><br><br>
                <input type="submit" class="boton" name="iniciar" value="Aceptar"/>
                <a href="/gestorimagen/"><input type="" class="boton" name="cancelar" value="cancelar"/></a>
            </form><br>
        </div>
    </center>
</div>
{% endblock %}