{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Crear o Actualizar Imágenes</h1>
        <div id="display">
            <form action="" method="GET" onsubmit="return actualizarCrear();">
                <table border="0">
                    <tr>
                        <th><img src="{{ url_for('static', filename='images/actualizar.png') }}" alt="Usuario" height="90" witdh="90"></th>
                        <th><img src="{{ url_for('static', filename='images/crear.png') }}" alt="Usuario" height="90" witdh="90"></th>
                    </tr>
                    <tr>
                        <th>Actualizar:
                        <input type="radio" name="seleccion" id="Actualizar" /><br></th>
                        <th>Crear:
                        <input type="radio" name="seleccion" id="Crear" /><br></th>
                    </tr>
                    <tr><br>
                        <td><br>Nombre Imagen: </td>
                        <td><br><input type="text" name="nameImage" id="nameImage" placeholder="Nombre de la Imagen"/><br></td>
                    </tr>
                    <tr>
                        <td>Nuevo Nombre: </td>
                        <td><input type="text" name="newname" id="newname" placeholder="Nuevo nombre de la Imagen"/><br></td>
                    </tr>
                    <tr>
                        <td>Usuario:</td>
                        <td><input type="text" name="usuario" id="usuario" placeholder="usuario"/></td>
                    </tr>
                    <tr>
                        <td>Contraseña:</td>
                        <td><input type="password" name="contraseña" id="clave" placeholder="contraseña"/></td>
                    </tr>
                    <tr>
                        <td>Pública:
                        <input type="radio" name="seleccion1" id="Publica" /><br></td>
                        <td>Privada:
                        <input type="radio" name="seleccion1" id="Privada" /><br></td>
                    </tr>
                </table><br>
                <input type="file" name="archivo" id="seleccionar"><br><br>
                <input type="submit" class="boton" name="iniciar" value="Aceptar"/>
                <a href="gestorImagen.html"><input type="" class="boton" name="cancelar" value="cancelar"/></a>
            </form><br>
        </div>
    </center>
</div>
{% endblock %}