{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Descargar Imágenes</h1>
        <div id="display"><br>
            <form action="" method="POST" onsubmit="return descargarImagen();">
                <img src="{{ url_for('static', filename='images/descargar.png') }}" alt="Usuario" height="90" witdh="90">
                <table border="0">
                    <tr>
                        <td>Nombre Imagen: </td>
                        <td><input type="text" name="nameImage" id="nameImage" placeholder="Nombre de la Imagen"/><br></td>
                    </tr>
                    
                </table><br>
                <input type="submit" class="boton" name="iniciar" value="Aceptar"/>
                <a href="/gestorimagen/"><input type="" class="boton" name="cancelar" value="cancelar"/></a>
            </form><br>
        </div>
    </center>
</div>
{% endblock %}