{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Eliminar Imágenes</h1>
        <div id="display"><br>
            <img src="{{ url_for('static', filename='images/borrar.png') }}" alt="Eliminar" height="90" witdh="90">
            <form action="" method="POST" onsubmit="return eliminarImagen();" novalidate>
                {{ form.hidden_tag() }}
                <p>{{ form.checkborrar(onchange="habilitar()") }} {{ form.checkborrar.label }}</p>
                <p>
                {{ form.nomImgElimnar.label }}<br>
                {{ form.nomImgElimnar(size=30)}}<br>
                </p>
                <p>{{ form.eliminar() }}</p>
                <script>habilitar()</script>
                <p><a href="/gestor/"><input type="" class="boton" name="cancelar" value="Cancelar"/></a></p>
            </form><br>
        </div>
    </center>
</div>
{% endblock %}