<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Imágenes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}" type="text/css">
</head>
<body>
    <center>
        <h1 class="titulo">Gestor de Imágenes</h1>
        <table><br>
            <tr>
                <th><img src="{{ url_for('static', filename='images/crear.png') }}" alt="Usuario" height="100" witdh="140"></th>
                <th><img src="{{ url_for('static', filename='images/borrar.png') }}" alt="Usuario" height="100" witdh="140"></th>
                <th><img src="{{ url_for('static', filename='images/descargar.png') }}" alt="Usuario" height="100" witdh="140"></th>
                <th><img src="{{ url_for('static', filename='images/busqueda.png') }}" alt="Usuario" height="100" witdh="140"></th>
            </tr>
            <tr>
                <td><br><a href="crearActualizar.html"><input type="submit" class="boton" name="crearActualizar" value="Crear o Actualizar"/></a></td>
                <td><br><a href="eliminar.html"><input type="submit" class="boton" name="eliminar" value="Eliminar Imagen"/></a></td>
                <td><br><a href="descargar.html"><input type="submit" class="boton" name="descargar" value="descargar  Imágenes"/></a></td>
                <td><br><a href="busquedaImagenes.html"><input type="submit" class="boton" name="buscar" value="Buscar Imagen"/></a></td>
            </tr>
        </table>
    </center>
</body>
</html>
