{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Red Social de Imágenes</h1>
        <a href="/sesionnew/"><input type="submit" class="boton" name="ventanaIniciar" value="Iniciar Sesión"/></a>
        <a href="/registronew/"><input type="submit" class="boton" name="ventanaRegistar" value="Registrar Usuario"/></a>
      
        <br><br><br>
        <img src="{{ url_for('static', filename='images/images1.jpg') }}" alt="Usuario" height="100" witdh="140">
        <img src="{{ url_for('static', filename='images/images2.jpg') }}" alt="Usuario" height="100" witdh="140">
        <img src="{{ url_for('static', filename='images/images3.jpg') }}" alt="Usuario" height="100" witdh="140">
        <img src="{{ url_for('static', filename='images/images4.jpg') }}" alt="Usuario" height="100" witdh="140">

        <div class="espacio">
            <!-- imagen encontrada -->
        </div>
    </center>
</div>
{% endblock %}