<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recuperar contraseña </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/cambioContrasena.js') }}}"></script>
</head>
<body>
    <center>
        <h1 class="titulo">Recuperar Contraseña</h1>
        <div id="display"><br>
            <form action="" method="POST" onsubmit="return cambiarContrasena();">
                <img src="{{ url_for('static', filename='images/recuperar.png') }}" alt="Usuario" height="90" witdh="90"><br><br>
                <table border="0">
                    <tr>
                        <td>Correo Electrónico: </td>
                        <td><input type="email" name="correo" id="correo" placeholder="Escriba su correo"/><br></td>
                    </tr>
                    <tr>
                        <td>Usuario:</td>
                        <td><input type="text" name="usuario" id="usuario" placeholder="usuario"/></td>
                    </tr>
                    <tr>
                        <td>Nueva Contraseña: </td>
                        <td><input type="password" name="nuevaClave" id="nuevaClave" placeholder="Nueva clave"/>
                            <img src="{{ url_for('static', filename='images/show_pwd.png') }}" alt="Ojito" width="20"
                            onmouseover="mostrarPassword();"
                            onmouseout="ocultarPassword();"></td>
                    </tr>
                    <tr>
                        <td>Confirme Contraseña:</td>
                        <td><input type="password" name="confirme" id="confirme" placeholder="Confirme la contraseña"/>
                            <img src="{{ url_for('static', filename='images/show_pwd.png') }}" alt="Ojito2" width="20"
                            onmouseover="mostrarPassword2();"
                            onmouseout="ocultarPassword2();"></td>
                    </tr>
                </table><br>
                <input type="submit" class="boton" name="iniciar" value="Aceptar"/>
                <a href="http://127.0.0.1:5000/sesion/"><input type="" class="boton" name="cancelar" value="cancelar"/></a>
            </form><br>
        </div>
    </center>
</body>
</html>
