{% extends "plantilla.html" %}
{% block contenido %}
<div id="fondo">
    <center>
        <h1 class="titulo">Iniciar Sesión</h1>
        <div id="display"><br>
            <form action="" method="GET" onsubmit="return autenticarInicio();">
                <img src="{{ url_for('static', filename='images/Login.png') }}" alt="Usuario" height="150" witdh="150"><br><br>
                <table border="0">
                    <tr>
                        <td>Usuario:</td>
                        <td><input type="text" name="usuario" id="usuario" placeholder="usuario"/></td>
                    </tr>
                    <tr>
                        <td>Contraseña:</td>
                        <td><input type="password" name="usuario" id="clave" placeholder="contraseña"/></td>
                    </tr>
                    <tr>
                        <td><h5><a href="recuperarcontrasena">¿Olvidaste la Contraseña?</a></h5></td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="boton" name="iniciar" value="Iniciar"/></td>
                        <td><a href="/"><input type="" class="boton" name="cancelar" value="cancelar"/></a></td>
                    </tr>
                </table>
            </form><br>
        </div>
    </center>
</div>
{% endblock %}