<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/autenticarInicio.js') }}}"></script>
</head>
<body>
    <center>
        <h1 class="titulo">Iniciar Sesión</h1>
        <div id="display"><br>
            <form action="" method="POST" onsubmit="return autenticarInicio();">
                <img src="{{ url_for('static', filename='images/Login.png') }}" alt="Usuario" height="150" witdh="150"><br><br>
                <table border="0">
                    <tr>
                        <td>Correo: </td>
                        <td><input type="email" name="correo" id="correo" placeholder="Correo electronico"/></td>
                    </tr>
                    <tr>
                        <td>Usuario:</td>
                        <td><input type="text" name="usuario" id="usuario" placeholder="usuario"/></td>
                    </tr>
                    <tr>
                        <td>Contraseña:</td>
                        <td><input type="password" name="contraseña" id="clave" placeholder="contraseña"/></td>
                    </tr>
                    <tr> 
                        <td><br><a href="recuperarcontrasena.html">¿Olvidaste la Contraseña?</a></td>
                    </tr>
                    <tr> 
                        <td><br><input type="submit" class="boton" name="iniciar" value="Iniciar"/></td>       
                        <td><br><a href="index.html"><input type="" class="boton" name="cancelar" value="cancelar"/></a></td>
                    </tr>
                </table>
            </form><br>
        </div>
    </center>
</body>
</html>